{# @SurvosTabler/menu/search.html.twig - Search widget #}
{% extends '@KnpMenu/menu.html.twig' %}

{% block root %}
<div class="nav-item d-none d-md-flex me-3">
    <div class="btn-list">
        {{ block('children') }}
    </div>
</div>
{% endblock %}

{% block item %}
{% if item.displayed %}
    {% set icon = item.getExtra('icon') %}
    <a href="{{ item.uri }}" class="btn btn-outline-secondary btn-sm">
        {% if icon %}{{ ux_icon('tabler:' ~ icon, {class: 'icon'}) }}{% endif %}
        {% if item.label %}<span class="ms-1">{{ item.label }}</span>{% endif %}
    </a>
{% endif %}
{% endblock %}
